__pycache__/openWindow.cpython-39.pyc
.ipynb_checkpoints/main-checkpoint.py
.ipynb_checkpoints/openWindow-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/displayImages-checkpoint.py
